{namespace dataviewer = MageDeveloper\Dataviewer\ViewHelpers}

<f:layout name="Blank" />
<f:section name="main">

	<script type="text/javascript">
		jQuery(function($) {
			var request{cObj.uid} = new DataViewerAjaxRequest({cObj.uid});
			request{cObj.uid}.bindOn(window);
			request{cObj.uid}.setLoader('div#dataviewer-loader-{cObj.uid}')
			request{cObj.uid}.setTarget('div#dataviewer-result-{cObj.uid}');
			request{cObj.uid}.setOnEvent('load');
			request{cObj.uid}.setUrl('{f:uri.action(action:'ajaxResponse',arguments:'{uid:cObj.uid}',pageType:100444)->f:format.raw()}');
			request{cObj.uid}.bind();
		});
	</script>

	<div id="dataviewer-loader-{cObj.uid}" style="display:none;">
		<f:render partial="Ajax/Loading" arguments="{_all}" />
	</div>
	<div id="dataviewer-result-{cObj.uid}"></div>
	
</f:section>
