<f:layout name="Default" />
<f:section name="main">
	<style type="text/css">
		.dataviewer-letter-selection { padding:10px 0; }
	</style>

    <div class="dataviewer-letter-selection">
		<div class="btn-group" role="group">
            <f:for each="{letters}" as="i" iteration="iterator">
                <f:link.action class="btn btn-default{f:if(condition: '{active}=={i}', then: ' active disabled')}" action="letter" arguments="{letter:i,targetUid:targetUid}">{i}</f:link.action>
            </f:for>
        </div>
        <div class="clear"></div>
    </div>
</f:section>
