{namespace dv = MageDeveloper\Dataviewer\ViewHelpers}

<f:switch expression="{type}">
    <f:case value="IMAGE">
        <f:comment>============ IMAGE RESOURCE ============</f:comment>
        <f:render partial="Field/Format/Link/ValueImage" arguments="{formValue:formValue,value:value}" />
    </f:case>
    <f:case value="FILE">
        <f:comment>============ FILE RESOURCE ============</f:comment>
        <f:render partial="Field/Format/Link/ValueFile" arguments="{formValue:formValue,value:value}" />
    </f:case>
    <f:case value="PAGE">
        <f:comment>============ PAGE RESOURCE ============</f:comment>
        <f:render partial="Field/Format/Link/ValuePage" arguments="{formValue:formValue,value:value}" />
    </f:case>
    <f:case value="LINK">
        <f:comment>============ LINK RESOURCE ============</f:comment>
        <f:render partial="Field/Format/Link/ValueLink" arguments="{formValue:formValue,value:value}" />
    </f:case>
    <f:case default="TRUE">
        <f:comment>============ DEFAULT ============</f:comment>
        <f:render partial="Field/Format/Link/Value" arguments="{formValue:formValue,value:value}" />
    </f:case>
</f:switch>

