{namespace core=TYPO3\CMS\Core\ViewHelpers}
{namespace dv=MageDeveloper\Dataviewer\ViewHelpers}

<div class="records">
	<div class="panel-heading">
		<f:translate key="module.records_information" />
		(<f:count subject="{records}" />)
	</div>
	<div class="table-fit">
		<table class="table table-striped table-hover">
			<thead>
			<tr>
				<th nowrap="nowrap" class="col-icon" style="width:5% !important;"></th>
				<th nowrap="nowrap" class="">Uid</th>
				<th nowrap="nowrap" class=""><f:translate key="tx_dataviewer_domain_model_record.title" /></th>
				<th nowrap="nowrap" class=""></th>
			</tr>
			</thead>
			<tbody>
			<f:for each="{records}" as="record" iteration="iteration">
				<f:comment>-- General Information --</f:comment>
				<tr data-uid="{record.uid}" class="{f:if(condition:'{iteration.isFirst}',then:' firstcol')}{f:if(condition:'{iteration.isLast}',then:' lastcol')}" data-toggle="collapse" data-target="#info{record.uid}" class="accordion-toggle">
					<td colspan="4">
						<f:render partial="BackendModule/Record/Line" arguments="{record:record,recordName:recordName}" />
					</td>					
				</tr>
			</f:for>
			</tbody>
		</table>
	</div>
</div>



