<ul class="breadcrumb">
    <f:if condition="{step} == 1">
        <li class="active"><span><f:translate key="module.csv_import" /></span></li>
        <li class="inactive"><span><f:translate key="module.csv_target_page" /></span></li>
        <li class="inactive"><span><f:translate key="module.csv_target_datatype" /></span></li>
        <li class="inactive"><span><f:translate key="module.csv_source_file" /></span></li>
        <li class="inactive"><span><f:translate key="module.csv_assign_fields" /></span></li>
        <li class="inactive"><span><f:translate key="module.csv_review_log" /></span></li>
    </f:if>
    <f:if condition="{step} == 2">
        <li class="active"><span><f:translate key="module.csv_import" /></span></li>
        <li class="active"><span><f:translate key="module.csv_target_page" /></span></li>
        <li class="inactive"><span><f:translate key="module.csv_target_datatype" /></span></li>
        <li class="inactive"><span><f:translate key="module.csv_source_file" /></span></li>
        <li class="inactive"><span><f:translate key="module.csv_assign_fields" /></span></li>
        <li class="inactive"><span><f:translate key="module.csv_review_log" /></span></li>
    </f:if>
    <f:if condition="{step} == 3">
        <li class="active"><span><f:translate key="module.csv_import" /></span></li>
        <li class="active"><span><f:translate key="module.csv_target_page" /></span></li>
        <li class="active"><span><f:translate key="module.csv_target_datatype" /></span></li>
        <li class="inactive"><span><f:translate key="module.csv_source_file" /></span></li>
        <li class="inactive"><span><f:translate key="module.csv_assign_fields" /></span></li>
        <li class="inactive"><span><f:translate key="module.csv_review_log" /></span></li>
    </f:if>
    <f:if condition="{step} == 4">
        <li class="active"><span><f:translate key="module.csv_import" /></span></li>
        <li class="active"><span><f:translate key="module.csv_target_page" /></span></li>
        <li class="active"><span><f:translate key="module.csv_target_datatype" /></span></li>
        <li class="active"><span><f:translate key="module.csv_source_file" /></span></li>
        <li class="inactive"><span><f:translate key="module.csv_assign_fields" /></span></li>
        <li class="inactive"><span><f:translate key="module.csv_review_log" /></span></li>
    </f:if>
    <f:if condition="{step} == 5">
        <li class="active"><span><f:translate key="module.csv_import" /></span></li>
        <li class="active"><span><f:translate key="module.csv_target_page" /></span></li>
        <li class="active"><span><f:translate key="module.csv_target_datatype" /></span></li>
        <li class="active"><span><f:translate key="module.csv_source_file" /></span></li>
        <li class="active"><span><f:translate key="module.csv_assign_fields" /></span></li>
        <li class="inactive"><span><f:translate key="module.csv_review_log" /></span></li>
    </f:if>
    <f:if condition="{step} == 6">
        <li class="active"><span><f:translate key="module.csv_import" /></span></li>
        <li class="active"><span><f:translate key="module.csv_target_page" /></span></li>
        <li class="active"><span><f:translate key="module.csv_target_datatype" /></span></li>
        <li class="active"><span><f:translate key="module.csv_source_file" /></span></li>
        <li class="active"><span><f:translate key="module.csv_assign_fields" /></span></li>
        <li class="active"><span><f:translate key="module.csv_review_log" /></span></li>
    </f:if>

</ul>
