{namespace core=TYPO3\CMS\Core\ViewHelpers}

<div style="margin-top: -37px">
	<h2 style="color:#ff8700;"><f:translate key="LLL:EXT:dataviewer/Resources/Private/Language/locallang.xlf:tx_dataviewer_domain_model_field.field_configuration" /></h2>
	<h5><core:icon identifier="apps-pagetree-page-shortcut-external" size="small" />&nbsp;<a style="color:#8C8C8C;" href="https://docs.typo3.org/typo3cms/TCAReference/" target="_blank"><f:translate key="LLL:EXT:dataviewer/Resources/Private/Language/locallang.xlf:see_tca_reference" /></a></h5>
</div>
