{namespace dv = MageDeveloper\Dataviewer\ViewHelpers}

<img src="{imageUrl}" border="0" style="float:left;margin-right: 5px;"/>
<strong><f:translate key="tx_dataviewer" /></strong>
<br />

<div style="font-size: smaller;">
	[Uid {row.uid}] <f:translate key="plugin.wizarditem_pi8" />
	<hr size="1" style="color:#c0c0c0; background-color: #c0c0c0; height: 1px; padding:0; margin: 5px 0;" />
</div>

<div style="font-size: smaller; margin:5px 0;">
	<strong><f:translate key="flexform.per_page_entries" />:</strong><br />
	<f:if condition="{flexform.settings.per_page}">
		<f:then>
			{flexform.settings.per_page}<f:if condition="{flexform.settings.show_view_all}">,<f:translate key="LLL:EXT:lang/locallang_misc.xlf:liveSearch_showAllResults" /></f:if>
		</f:then>
	</f:if>
</div>


