<f:layout name="Default" />
<f:section name="main">

	<f:comment>
	<pre>
		Available Markers:
		======================
		Count:               {recordCount}
		Per Page:            {perPage}
		Pages:               {pagesCount}
		CurrentPage:         {selectedPage}
		Previous Page:       {previousPage}
		Next Page:           {nextPage}
		----------------------
		Start Record Number  {startRecordNumber}
		End Record Number    {endRecordNumber}
	</pre>
	</f:comment>

	<style type="text/css">
		.dataviewer-pager { border-top:1px solid #f2f2f2; padding:10px 0; }
		.dataviewer-pagination { margin:0; }
	</style>

	<div class="dataviewer-pager">

		<div class="row">
			<div class="col col-xs-4 navbar-left">
				<div class="pull-left">
					<strong>
						<f:translate key="page_of" arguments="{0:selectedPage,1:pagesCount}" />
					</strong>
					<br />
					<small>
						<f:translate key="records_of" arguments="{0:startRecordNumber,1:endRecordNumber,2:recordCount}" />
					</small>
				</div>

				<f:if condition="{perPageOptions->f:count()} > 0">

					<div class="dropdown pull-left">
	
						<f:if condition="{perPage} == 0">
							<f:then>
								<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" id="dropdown-menu-1" aria-expanded="false">
									<span data-type="selected-text">View all</span>
									<span class="caret"></span>
								</button>
							</f:then>
							<f:else>
								<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" id="dropdown-menu-1" aria-expanded="false">
									<span data-type="selected-text"><f:translate key="per_page" arguments="{0:perPage}" /></span>
									<span class="caret"></span>
								</button>
							</f:else>
						</f:if>

						<ul class="dropdown-menu" role="menu">
	
							<f:for each="{perPageOptions}" as="option" iteration="p">
								<li>
									<f:link.action action="page" addQueryString="1" arguments="{perPage:option,targetUid:targetUid}"><f:translate key="per_page" arguments="{0:option}" /></f:link.action>
								</li>
							</f:for>
							
							<f:if condition="{showViewAll}">
								<li role="presentation" class="divider"></li>
								<li role="presentation">
									<f:link.action action="page" addQueryString="1" arguments="{perPage:0,targetUid:targetUid}">View All</f:link.action>
								</li>
							</f:if>

						</ul>
					</div>
				</f:if>
			</div>
			<div class="col col-xs-8">
				<ul class="pagination pull-right dataviewer-pagination">
						<li class="pager-item-left{f:if(condition:'{previousPage} < 1',then:' disabled')}">
							<f:link.action action="page" addQueryString="1" arguments="{page:previousPage,targetUid:targetUid}">&laquo;</f:link.action>
						</li>
					<f:for each="{pages}" as="page" iteration="i">
						<li class="pager-item-{i.cycle}{f:if(condition:'{i.cycle} == {selectedPage}',then: ' active')}">
							<f:link.action action="page" addQueryString="1" arguments="{page:page,targetUid:targetUid}">{page}</f:link.action>
						</li>
					</f:for>
					<li class="pager-item-right{f:if(condition:'{nextPage} == \'\'',then:' disabled')}">
						<f:link.action action="page" addQueryString="1" arguments="{page:nextPage,targetUid:targetUid}">&raquo;</f:link.action>
					</li>
				</ul>
			</div>
		</div>

		<div class="clear"></div>
	</div>
</f:section>
