{namespace core=TYPO3\CMS\Core\ViewHelpers}
{namespace dv=MageDeveloper\Dataviewer\ViewHelpers}

<f:layout name="Backend"/>

<f:section name="Buttons">
	<div class="module-docheader-bar module-docheader-bar-buttons t3js-module-docheader-bar t3js-module-docheader-bar-buttons" style="height:auto;">
		<f:if condition="{datatypes -> f:count()} > 0">
			<f:for each="{datatypes}" as="datatype">
				<f:if condition="{datatype.icon}">
					<f:then>
						<a href="{dv:backend.newLink(pid:'{currentPageId}',table:'tx_dataviewer_domain_model_record',datatype:datatype.uid)}" title="{datatype.name}" class="btn btn-default"><core:icon identifier="extensions-dataviewer-{datatype.icon}" size="small" /><core:icon identifier="actions-add" size="small" /><small>{datatype.name}</small></a>
					</f:then>
					<f:else>
						<a href="{dv:backend.newLink(pid:'{currentPageId}',table:'tx_dataviewer_domain_model_record',datatype:datatype.uid)}" title="{datatype.name}" class="btn btn-default"><core:icon identifier="extensions-dataviewer-default" size="small" /><core:icon identifier="actions-add" size="small" /></a>
					</f:else>
				</f:if>
			</f:for>
		</f:if>
	</div>
</f:section>

<f:section name="content">
	<h1><f:translate key="module.records_information" /></h1>
	<p><f:translate key="module.click_on_entry_to_open_details" /></p>

	<f:flashMessages/>
	
	<f:if condition="{records}">
		<f:then>
			<f:render partial="BackendModule/ListRecordsDetails" arguments="{_all}" />
		</f:then>
		<f:else>
			<f:translate key="module.no_records_found" />
		</f:else>
	</f:if>
</f:section>
