<f:layout name="Default" />
<f:section name="main">

	<f:form action="select">
		<f:if condition="{records -> f:count()} > 0">
			<div class="form-group">
			<f:for each="{records}" as="record" iteration="i">
				<div class="checkbox">
					<label for="selection_{i.cycle}">
						<f:if condition="{autoSubmit}">
							<f:then><f:form.checkbox id="selection_{i.cycle}" value="{record.record.uid}" name="selection[]" checked="{record.selected}" onclick="this.form.submit()" /></f:then>
							<f:else><f:form.checkbox id="selection_{i.cycle}" value="{record.record.uid}" name="selection[]" checked="{record.selected}" /></f:else>
						</f:if>
						{record.label}
					</label>
				</div>
			</f:for>
			</div>
			<f:if condition="{autoSubmit}">
				<f:then></f:then>
				<f:else><f:form.submit class="btn btn-default" name="submit" value="{f:translate(key:'select')}" /></f:else>
			</f:if>
		</f:if>
	</f:form>

</f:section>
