{namespace core=TYPO3\CMS\Core\ViewHelpers}
{namespace dv=MageDeveloper\Dataviewer\ViewHelpers}
{namespace be=TYPO3\CMS\Beuser\ViewHelpers}

<table class="" style="width:100% !important;">
	<tr>
		<td nowrap="nowrap" class="col-icon nowrap" style="width:5% !important;">
			<span class="fa fa-caret-right icon-collapsed"></span>
			<span class="fa fa-caret-down icon-expanded"></span>
			<f:if condition="{record.hidden}">
				<f:then>
					<core:icon identifier="extensions-dataviewer-{record.icon}" overlay="overlay-hidden" size="small" />
				</f:then>
				<f:else>
					<core:icon identifier="extensions-dataviewer-{record.icon}" size="small" />
				</f:else>
			</f:if>
		</td>
		<td nowrap="nowrap" class="nowrap col-sm-1">
			{record.uid}
		</td>
		<td nowrap="nowrap" class="col-sm-7">
			<strong>{record.title}</strong>
		</td>
		<td nowrap="nowrap" class="col-sm-1">
			<a href="{dv:backend.editLink(id:record.uid,table:'tx_dataviewer_domain_model_record')}" target="_self"><core:icon identifier="actions-open" size="small" /></a>

			<f:if condition="{record.hidden}">
				<f:then>
					<a href="{be:issueCommand(parameters:'data[tx_dataviewer_domain_model_record][{record.uid}][hidden]=0')}"><core:icon identifier="actions-edit-unhide" size="small" /></a>
				</f:then>
				<f:else>
					<a href="{be:issueCommand(parameters:'data[tx_dataviewer_domain_model_record][{record.uid}][hidden]=1')}"><core:icon identifier="actions-edit-hide" size="small" /></a>
				</f:else>
			</f:if>

			<a href="{be:issueCommand(parameters:'data[tx_dataviewer_domain_model_record][{record.uid}][delete]=1')}"><core:icon identifier="actions-version-document-remove" size="small" /></a>

		</td>
	</tr>
	<tr data-uid="{record.uid}">
		<td colspan="4" style="padding:0 !important;">
			<div class="collapse" id="info{record.uid}">
				<f:render partial="BackendModule/Record/Values" arguments="{record:record,currentPageId:currentPageId,recordName:recordName}" />
			</div>
		</td>
	</tr>
</table>
