<div style="padding:25px;">
	<f:image src="EXT:dataviewer/Resources/Public/Images/logo_dataviewer_text.png" />
	<br />
	<h1 style="margin-top:15px;">{emConf.title} Extension, Version {emConf.version}</h1>
	<p>
		{emConf.description}
	</p>
	<br />
	<p>
		<em>Thank you for using DataViewer!</em>
		<br />
		<br />
		<strong>If you like this extension and want to support development, please feel free to make
			a <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=HQP7AJZXJEWMQ&item_name=Support for Extension Development DataViewer" target="_blank" style="color:#FF8700;">donation</a></strong>.
		<br />
		<br />
		<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=HQP7AJZXJEWMQ&item_name=Support for Extension Development DataViewer" target="_blank">
			<img src="https://www.paypalobjects.com/webstatic/en_US/i/btn/png/btn_donate_cc_147x47.png" alt="Donate">
		</a>
		
	</p>
	<hr style="background-color: #c0c0c0; color:#c0c0c0;" size="1" />
	<h4>Developer Information</h4>
	<div style="float:left; background-image:url('http://images.magedeveloper.de/logo_small.png'); background-position: 0 50%;  background-size:cover; background-repeat: no-repeat; width:50px; height:50px; float:left; "></div>
	<div style="float:left; margin-left:10px;">
		Name: {emConf.author}<br />
		E-Mail: <a href="mailto:{emConf.author_email}">{emConf.author_email}</a><br />
		Website: <a href="http://www.aixdesign.net" target="_blank">www.aixdesign.net</a>
	</div>
	<div style="clear:both;"></div>
	<hr style="background-color: #c0c0c0; color:#c0c0c0;" size="1" />
	<h4>Icons:</h4>
	<p>
		Some icons used in this Extension are retrieved from the "Silk" icon set of
		Mark James, which can be found at http://famfamfam.com/lab/icons/silk/. 
		<br />
		Additional icons, included in this Extension are from the "Fugue" icon set of Yusuke Kamiyamane,
		which can be found at http://p.yusukekamiyamane.com/.
		<br /><br />
		<f:for each="{icons}" as="icon" key="iconId">
			<f:image src="{icon}" width="16" height="16" title="{iconId}" />
		</f:for>
	</p>
</div>
