<div style="padding:25px;">
	<f:image src="EXT:dataviewer/Resources/Public/Images/logo_dataviewer_text.png" />
	<br />
	<h1 style="margin-top:15px;">{emConf.title} Extension, Version {emConf.version}</h1>
	<p><em>Thank you for using DataViewer!</em><br />{emConf.description}</p>
	<hr style="background-color: #c0c0c0; color:#c0c0c0;" size="1" />
	<h4>Developer Information</h4>
	Name: {emConf.author}<br />
	E-Mail: <a href="mailto:{emConf.author_email}">{emConf.author_email}</a><br />
	Website: <a href="http://www.aixdesign.net" target="_blank">www.aixdesign.net</a>
	<hr style="background-color: #c0c0c0; color:#c0c0c0;" size="1" />
	<h4>Icons:</h4>
	<p>
		Some icons used in this Extension are retrieved from the "Silk" icon set of
		Mark James, which can be found at http://famfamfam.com/lab/icons/silk/. 
		<br />
		Additional icons, included in this Extension are from the "Fugue" icon set of Yusuke Kamiyamane,
		which can be found at http://p.yusukekamiyamane.com/.
		<br /><br />
		<f:for each="{icons}" as="icon" key="iconId">
			<f:image src="{icon}" width="16" height="16" title="{iconId}" />
		</f:for>
	</p>
</div>
